{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Player</h1>
        <p>
            lorem opsum, abd lorem opsum, abd lorem opsum, abd lorem opsum, abd 
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/player.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}